<div class="container">
	<form ng-submit="search.activateNameSearch()" style="margin-top:30px;">
		<h3>Search By Establishment Name</h3>
		<div class="form-group">
			<input type="text" placeholder="name" ng-model="search.nameParam" class="form-control">
			<input type="checkbox"> Check here to filter for only restaurants with an active status.
		</div>
		<button class="btn btn-primary" type="submit">Search</button>
	</form>


	<form ng-submit="search.activateAddrSearch()" style="margin-top:30px;">
		<h3>Search Near Address</h3>
		<div class="form-group">
			<input type="text" placeholder="address" ng-model="search.addrParam" class="form-control">
		</div>

		<button class="btn btn-primary" type="submit">Search</button>
	</form>
	
	<div ng-model"search.restaurants" ng-repeat="restaurant in search.restaurants">
		<span style="font-size:20px; margin-left:10px;">
			<a href="#/restaurants/{{restaurant.id}}">Learn more about: </a>
	    	
			{{restaurant.name}}
			 					
		</span>

	</div>
</div> <!-- container -->