<div class="container">
	<form ng-submit="rest.searchName()" style="margin-top:30px;">
		<h3>Search By Establishment Name</h3>
		<div class="form-group">
			<input type="text" placeholder="name" ng-model="rest.nameParam" class="form-control">
			<input ng-model="active" type="checkbox"> Check here to filter for only restaurants with an active status.
		</div>
		<button class="btn btn-primary" type="submit">Search</button>
	</form>


	<form ng-submit="rest.searchAddr()" style="margin-top:30px;">
		<h3>Search Near Address</h3>
		<div class="form-group">
			<input type="text" placeholder="address" ng-model="rest.addrParam" class="form-control">
		</div>

		<button class="btn btn-primary" type="submit">Search</button>
	</form>

	<div ng-model"rest.restaurants" ng-repeat="restaurant in rest.restaurants | activeFilter:active ">
	<span style="font-size:20px; margin-left:10px;">
		<a ui-sref="restaurants({ id : restaurant.id })">Learn more about: </a>

		{{restaurant.name | titleCase}}

	</span>

</div>

</div> <!-- container -->