
<div class="container">
	<div class="page-header">
		<h3>Results for:
			<span>{{restaurant.name}}</span>
		</h3>
		<p></p>
	</div>

	<ul class="list-group">
	  <li class="list-group-item">
	    <span class="badge"></span>
	    Total number of reports:
	  </li>
	  <li class="list-group-item">
	    <span class="badge"></span>
	    Date of most recent report:
	  </li>
	  <li class="list-group-item">
	    <span class="badge"></span>
	    Number of Critical Failures:
	  </li>
	</ul>
	<div ng-repeat="inspection in restaurant.inspections | orderBy: 'result_date'">
		<span class="glyphicon glyphicon-cutlery" ng-click=""></span>
		<span style="font-size:20px; margin-left:10px;">
		Flags: {{inspection.flags}}
		Inspection result: {{inspection.result}} - on {{inspection.result_date}}
			Comments: {{inspection.comments}}
		</span>
	</div>
</div>