<!DOCTYPE html>
<html>
  <head>
    <title>Eat Safer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="root">
    <%= yield %>
  </body>
</html>
